
uvicorn[standard]
fastapi 
pydantic
groq
python-dotenv
sqlalchemy
psycopg2-binary
pymupdf
python-multipart
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
pydantic[email]
python-jose
python-jose[cryptography] 
jwt
google-auth
requests